<!--Publication-->
            <article>
                <!--Entête Publication-->
                <aside>
                    <div>
                        <div class="mini-profil" style="background-image: url('img/portrait2.jpg');" ></div>
                        <div>
                            <div>
                                <span>pierre.dupont propose une activité</span><span> - Il y a 4 jours</span>
                            </div>
                            <span>3.7 pour 620k votes, 184k commentaires, 936k partages</span>
                        </div>
                    </div>
                    <div>
                        <img src="img/img1.jpg" width="100%">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </aside>
                <aside>
                    <div id="stats-publication" >
                        <div>
                            <div class="star5" >
                                <div class="sta" ></div>
                                <div class="star4" >
                                    <div class="sta" ></div>
                                    <div class="star3" >
                                        <div class="sta" ></div> 
                                        <div class="star2" >
                                            <div class="sta" ></div>
                                            <div class="star1" >
                                                <div class="sta" ></div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="comment">
                            </div>
                        </div>
                        <div>
                            <div class="partage">
                            </div>
                        </div>
                    </div>
                    <div class="comm-publication" ><!--Commentaires-->
                        <div>
                            <div class="user-basic-align" >
                                 <div class="mini-profil" style="background-image: url('img/portrait1.jpg');" ></div>
                                 <div>
                                     <h4>lea.michelin</h4>
                                     <h5>- 8 minutes</h5>
                                     <div>Super intéressant!</div>
                                 </div>
                             </div >
                             <div class="user-basic-align">
                                 <div class="mini-profil" style="background-image: url('img/portrait2.jpg');" ></div>
                                 <div>
                                     <h4>pierre.dupont</h4>
                                     <h5>- 34 minutes</h5>
                                     <div>Merci pour tout vos retours et vos propositions. Je vais essayer de tous vous répondre mais j'aurais du mal =) J'essaierais également de reproduire ce genre de chose si vous êtes partants.</div>
                                 </div>
                             </div>
                             <div class="user-basic-align" >
                                 <div class="mini-profil" style="background-image: url('img/portrait1.jpg');" ></div>
                                 <div>
                                     <h4>lea.michelin</h4>
                                     <h5>- 8 minutes</h5>
                                     <div>Super intéressant!</div>
                                 </div>
                             </div >
                             <div class="user-basic-align" >
                                 <div class="mini-profil" style="background-image: url('img/portrait3.JPG');" ></div>
                                 <div>
                                     <h4>Yassine.bhlm</h4>
                                     <h5>- 1 heure</h5>
                                     <div>Serait-il possible d'avoir des photos de cette superbe activitée pour la vivre à distance ?</div>
                                 </div>
                             </div>
                             <div class="user-basic-align" >
                                 <div class="mini-profil" style="background-image: url('img/portrait1.jpg');" ></div>
                                 <div>
                                     <h4>lea.michelin</h4>
                                     <h5>- 8 minutes</h5>
                                     <div>Super intéressant!</div>
                                 </div>
                             </div >
                         </div>
                         <span>Voir plus de commentaires</span>
                         <textarea></textarea>
                    </div>
                </aside>
            </article>
            <!--Fin Publication-->